In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
data=pd.read_csv("e:/INTERN/Datasets/insurance.csv")

In [8]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["sex"]=le.fit_transform(data["sex"])
data["smoker"]=le.fit_transform(data["smoker"])
data["region"]=le.fit_transform(data["region"])

In [13]:
x = data.iloc[:,0:6].values
y = data.iloc[:,6].values

In [14]:
y

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

In [15]:
x.shape

(1338, 6)

In [16]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(x,y)

LinearRegression()

In [17]:
lpred = lr.predict(x)

In [18]:
lpred

array([25111.24186363,  3687.60517284,  6963.14570669, ...,
        4363.66236622,  1106.98661296, 37013.72809551])

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree  =8)
x_poly = poly_reg.fit_transform(x)#  covert your input to degree
poly_reg.fit(x_poly,y)# create the equation
plr = LinearRegression()
plr.fit(x_poly,y)# train

In [ ]:
plrpred=plr.predict(x_poly)

In [ ]:
plrpred

In [ ]:
y

In [ ]:
plt.scatter(x,y)
plt.plot(x,plrpred)
plt.show()

In [ ]:
a= poly_reg.fit_transform([[6]])

In [ ]:
a

In [ ]:
plr.predict(a)